body
{
    font-family: 'Quicksand', sans-serif;
    background-image:  url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") ;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h4
{
    color: #f4ff81   ;
    
}
table
{
    color: #ffebee;
}
th
{
    color:#ccff90;
    font-size: 110%;
}
#right
{
    font-size: 150%;
    color:#d50000; 
}
#header
{
    background: rgba(130, 13, 76,.3);
}
p
{
    font-size: 110%;
    color: #ffebee;
}
#img1
{
    border-radius:28% 57% 15% 73% / 47% 59% 45% 49%  ;
}
/****** Aparti de aqui es para la animacion del TITULO *******/
#h3
{
    font-size: 37px;
    color: #ffffff;
    overflow: hidden;
    background: linear-gradient(90deg,#ff8a65 ,#fbe9e7 ,#ff8a65 );
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 7s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}
/******  aqui termina para la animacion del TITULO *******/
#cont
{
    margin: 5%;
}
h3
{
    color: #ffd54f ;
}
#fac
{
    margin: 2%;
    font-size: 45px;
    color:rgb(66, 103, 178);
}
#fa
{

    font-size: 30px;
    color:#ff9800;
    font-family: 'Quicksand', sans-serif;
}
#wat
{
    margin: 2%;
    font-size: 45px;
    color:rgb(13, 193, 67);
    
}
#wat0
{
    font-family: 'Quicksand', sans-serif;
}
#test1,#test3,#test2
{
    background-color: rgba(66, 66, 66, 0.3)
}
/****** Aparti de aqui es para la animacion del TITULO *******/
#mac1,#mac2
{
    font-size: 37px;
    color: #ffffff;
    overflow: hidden;
    background: linear-gradient(90deg,#ffff8d  ,#ffe57f  ,#ffff8d  );
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}
/******  aqui termina para la animacion del TITULO *******/
#mover
{
    margin: 4%;
}


#test11
{
    margin: 5%;
}
#xi
{
    
    border-radius: 20px;
}